@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}

<br />
<div class="alert alert-success " role="alert">

    <button type="button" class="close" data-dismiss="alert">
    

    <a> <i class="glyphicon glyphicon-remove" color="red"></i></a>


    </button>
    
    The server is not available

</div>
<br />
<p>

    @using (Html.BeginForm("Searching", "Jobf", FormMethod.Get))
    {
        <input type="text" name="stsearch" />
        <input type="submit" value="Searching by company  " name="submit" />

    }
</p>

<h2>Faramarz Table</h2>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Job ID</th>
        <th>Company</th>
        <th>Search Enging</th>
        <th>Position</th>
        <th>Date of send</th>
        <th>Status</th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
            {
<tr>
    <td>@Model.Rows[i][1]</td>
    <td class="text-primary">@Model.Rows[i][2]</td>
    <td>@Model.Rows[i][3]</td>
    <td>@Model.Rows[i][4]</td>
    <td class="bg-danger">@Model.Rows[i][5]</td>
    <td>@Model.Rows[i][6]</td>
    <td>
        <a href="@Url.Action("Edit","Jobf",new { @id = Model.Rows[i][0] })"><Button type="button" class="arrow">Edit<i class="glyphicon glyphicon-pencil"></i></Button></a>
        <a href="@Url.Action("Delete","Jobf",new { @id = Model.Rows[i][0] })"><Button type="button" class="btn-danger">Delete <i class="glyphicon glyphicon-trash"></i></Button></a>
    </td>
   
</tr>
            }

</table>
<a href="@Url.Action("Create","Jobf")"><Button type="button" class="btn-primary"><i class="glyphicon glyphicon-asterisk"></i>Add Data</Button></a>

